
*{
  margin: 0px;
  padding: 0px;
  
  /* background-color: #212121; */
}

.upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.container {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
 
}
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    /* background-color: #212121; */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }
.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    padding-top: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    transform: scale(1.05);
    /* border: 1px solid black; */
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
 
 
 
  

  
  .buttonupload {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: rgb(46, 96, 177);
    color: white;
  }
  
  .buttonupload:hover {
    background: orange;
    
    color: white;
  }
  .errormess{
    color: red;
    background-color: transparent;
    padding-top: 10px;
    text-align: center;
  }
  h1{
      height: 80px;
    padding-top: 30px;
      text-align: center;
      align-items: center;
      color: #fff;
    background-color: rgb(98, 141, 234);
      
    }